*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

html,
body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ================= FORM ================= */

form{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 30px;             
    margin: 20px 0px;  
    gap : 10px ;         
    width: 40%;
    background-color: rgb(94, 94, 94);
    border-radius: 25px;
    border: 2px solid whitesmoke;
}

input{
    padding: 10px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 15px;
}

.create{
    padding: 10px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: grey;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.create:hover{
    background-color: darkgray;
    color: black;
}

/* ================= USERS SECTION ================= */

.users{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.user-card{
    width: 270px;
    background-color: gray;
    border-radius: 25px;
    border: 2px solid white;
    overflow: hidden;
    transition: 0.25s ease;
}

.user-card:hover{
    transform: translateY(-8px);
}

/* ================= IMAGE ================= */

.img-box{
    width: 100%;
    height: 250px;
    padding: 10px;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* ================= USER INFO ================= */

.user-info{
    padding: 15px 18px 20px;
}

.user-info h2{
    font-size: 22px;
    margin-bottom: 8px;
    color: black;
}

.user-info p{
    font-size: 15px;
    color: rgb(70, 70, 70);
    word-break: break-word;
}

/* ================= QUICK ACTIONS ================== */

.actions{
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s ease-in;
}

button:hover{
    background-color: darkgray;
    color: black;
}

#edit {
    background-color: burlywood;
}

#del{
    background-color: #e05555;
}

/* ================= RESPONSIVENESS ================= */

@media (max-width: 900px){
    form{
        width: 70%;
    }
}

@media (max-width: 600px){
    form{
        width: 90%;
    }
    .user-card{
        width: 100%;
        max-width: 320px;
    }
}
